@mixin default-section-style {
    width: calc(100% - 35px);
    margin: 25px auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

@mixin desktop-styles {
    @media (min-width: 930px) {
        @content;
    }
}

// Mixin for BEM Methodology
// Credits: https://css-tricks.com/snippets/sass/bem-mixins/
@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
    &_#{$modifier} {
        @content;
    }
}
