// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato");

// Variables
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
}
